<!DOCTYPE html>
<html>
	<head>
		<title>Job Portal</title>
		<link rel="stylesheet" href="/stylesheets/style1.css">
	</head>
	<body>
			<div class="navbar_ele">
    		<img style="cursor: pointer" src="/images/job_seek_logo.png" onclick="window.location='/'" id="image_head" style="float:left;">
		<ul class="list">
			<li class="dropdown"><a href="#" class="dropbtn">JOBS</a>
			<div class="dropdown-content">
    			<a href="#">Jobs Search</a>
    			<a href="/addJob">Add a Job</a>
    			<a href="#">Job Dashboard</a>
  			</div>
			</li>
			<li><a href="#">CANDIDATES</a></li>
			<li><a href="#">COMPANIES</a></li>
			<li><a href="#">CATEGORIES</a></li>
			<li class="dropdown2"><a href="#" class="dropbtn2">PAGES</a>
			<div class="dropdown-content2">
    			<a href="#">About Us </a>
    			<a href="/testimonials">Testimonials</a>
  			</div>
       </li> 
			<li><a href="/form">LOGIN/REGISTER</a></li>
	</div>
	</ul>
	</div>

	<div class="findjob" style="height:80px; position:absolute; margin:auto; top:400px; left:470px; width:400px; border:4px solid white; border-radius:10px; font-family:"Roboto";" >
		<a href="#" style="margin:auto; position:absolute; top:20px; left:110px; font-size:2.5em; color:white;">Find a Job</a>
	</div>

	</body>
</html>