<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style1.css">
<title>testimonial</title>
</head>
<body>

	<div class="navbar_ele">
    <img src="/images/job_seek_logo.png" id="image_head" style="float:left;cursor:pointer" onclick="window.location='/'">
		<ul class="list">
			<li class="dropdown"><a href="#" class="dropbtn">JOBS</a>
			<div class="dropdown-content">
    			<a href="#">Jobs Search</a>
    			<a href="/addJob">Add a Job</a>
    			<a href="#">Job Dashboard</a>
  			</div>
			</li>
			<li><a href="#">CANDIDATES</a></li>
			<li><a href="#">COMPANIES</a></li>
			<li><a href="#">CATEGORIES</a></li>
			<li class="dropdown2"><a href="#" class="dropbtn2">PAGES</a>
			<div class="dropdown-content2">
    			<a href="#">About Us </a>
    			<a href="/testimonials">Testimonials</a>
  			</div>
       </li> 
			<li><a href="/form">LOGIN/REGISTER</a></li>
	</div>
	</ul>
	</div>



<div class="abc" style="background-color:#f2f2f2;">
<h1 style="text-align:center; font-family: Arial,sans-serif;">Testimonials</h1>
</div>
<br>
<br>
<img src="/images/businessman1.jpg" height="110" width="110">
<p class="xyz" style="color:#a6a6a6;"><b>Jobseek is worth much more than I paid. I am good to go. I could not  have asked for more than this. Keep up <br>the excellent work.</b></p>
<p id="abc"><b>Nadine Boyd CEO in Company Name</b></p>
<br>
<HR color="#a6a6a6"></HR>
<br>
<br>
<img src="/images/businessman2.jpeg">
<p class="xyz" style="color:#a6a6a6; text-decoration:italic;"><b> just can not get enough of Jobseek. I want to get a T-Shirt with Jobseek on it so I can show it off to<br> everyone. This is simply unbelievable!</b></p>
<p id="abc"><b>Erick Olson Key Account Manager in Twitter Inc.</b></p>
<br>
<HR color="#a6a6a6"></HR>
<br>
<br>
<img src="/images/businessman3.jpeg">
<p class="xyz" style="color:#a6a6a6; text-decoration:italic;"><b>I did not even need training. I could not have asked for more than this. It really saves me time and effort.<br> Jobseek is exactly what our business has been lacking. I would be lost without Jobseek.</b></p>
<p id="abc"><b>Becky Daniels HR Manager in Apple Inc.</b></p>
<br>
<HR color="#a6a6a6"></HR>
<br>
<br>
<img src="/images/businessman4.jpeg">
<p class="xyz" style="color:#a6a6a6; text-decoration:italic;"><b>Thanks for the great service. Jobseek has completely surpassed our expectations. Jobseek is the most <br>valuable business resource we have ever purchased.</b></p>
<p id="abc"><b>Anthony Walsh Brand Manager in Ebay Inc.</b></p>
<br>
<HR color="#a6a6a6"></HR>
</body>

<style>
	body{
		    font-family: Roboto,Helvetica,Arial,sans-serif;
		    font-weight:normal;
		    background-image: none;
	}
	.abc{
		width:100%;
		height:100px;
		color:Black;
		background-color: #74A3FF;
		padding: 5px;
	}
	img
	{
		
		border-radius: 100%;
		width:140px;
		height: 110px;
		margin:auto;
		margin-left:45%;
		
	}
	.xyz
	{
		text-align: center;
		color:black;
		font-size:22px;
		font-family: Cambria;
		font-style: italic;
		font-weight:400;
	}
	#abc
	{
		font-family:Courier;
		text-align: center;
		color:grey;
		font-size:18px;
	}
	h1{
		letter-spacing: 2px;
		font-size: 2.5em;
	}
</style>

</html>

